<div class="page-container">
  <div class="Info-Section">
    <img src="../assets/one-piece-logo.png" alt="one-piece-logo" />
    <h1>Goro Goro No Mi</h1>
    <p>
      The Goro Goro no Mi is a Logia-type Devil Fruit[3] that grants the power
      to create, control, and become lightning at will, making the user a
      Lightning Human (雷人間, Kaminari Ningen?) it is one of the few abilities
      touted as "invincible" according to Nico Robin. The fruit was eaten by
      Enel.
    </p>
  </div>
</div>
