<div class="page-container">
  <div class="Info-Section">
    <img src="../assets/one-piece-logo.png" alt="one-piece-logo" />
    <h1>Bara Bara No Mi</h1>
    <p>
      he Bara Bara no Mi is a Paramecia-type Devil Fruit that allows the user to
      split their own body into pieces and control said pieces however they
      wish, as well as making the user immune to slashing attacks, making the
      user a Splitting Human (バラバラ人間, Barabara Ningen?). It was eaten by
      Buggy, albeit by accident as he originally intended to sell it. Its power
      was first demonstrated, but not clearly explained, when Buggy lifted up
      and choked one of his subordinates via his dismembered hand.
    </p>
  </div>
</div>
