<div class="page-container">
  <div class="Info-Section">
    <img src="../assets/one-piece-logo.png" alt="one-piece-logo" />
    <h1>Bomu Bomu No Mi</h1>
    <p>
      The Bomu Bomu no Mi is a Paramecia-type Devil Fruit that allows the user
      to make any part of their body explode, whether it be their limbs, hair,
      mucus, even breath or cough, making the user a Bomb Human (爆弾人間,
      Bakudan Ningen?, VIZ: "Human Dynamite"). It was eaten by Gem, better known
      by his Baroque Works alias Mr. 5.
    </p>
  </div>
</div>
