<div class="page-container">
  <div class="Info-Section">
    <img src="../assets/one-piece-logo.png" alt="one-piece-logo" />
    <h1>Monkey D. Luffy</h1>
    <p>
      Monkey D. Luffy, commonly known as "Straw Hat Luffy" or simply "Straw
      Hat", is the founder, captain, and strongest combatant of the increasingly
      infamous and powerful Straw Hat Pirates. He fearlessly pursues the
      legendary treasure of the late Gol D. Roger in order to become the new
      Pirate King and reach a further, untold dream (currently known to only his
      crew and closest friends). He believes that being the Pirate King means
      having the most freedom in the world.
    </p>
  </div>

  <div class="fruit-nav">
    <ul class="devil-fruit-teasers">
      <li>
        <a routerLink="/bomu-bomu-fruit">
          <img src="../assets/Bomu_Bomu.png" alt="Bomu_Bomu_no_Mi" />
        </a>
      </li>
      <li>
        <a routerLink="/gura-gura-fruit">
          <img src="../assets/Gura_Gura.png" alt="Gura_Gura_no_Mi" />
        </a>
      </li>
      <li>
        <a routerLink="/mera-mera-fruit">
          <img src="../assets/Mera_Mera.png" alt="Mera_Mera_no_Mi" />
        </a>
      </li>
      <li>
        <a routerLink="/goro-goro-fruit">
          <img src="../assets/Goro_Goro.png" alt="Goro_Goro_no_Mi" />
        </a>
      </li>
      <li>
        <a routerLink="/bara-bara-fruit">
          <img src="../assets/Bara_Bara.png" alt="Bara_Bara_no_Mi." />
        </a>
      </li>
    </ul>
  </div>
</div>
