<div class="page-container">
  <div class="Info-Section">
    <img src="../assets/one-piece-logo.png" alt="one-piece-logo" />
    <h1>Gura Gura No Mi</h1>
    <p>
      The Gura Gura no Mi is a Paramecia-type Devil Fruit which allows the user
      to create vibrations, or "quakes", making the user a Tremor Human
      (震動人間, Shindō Ningen?). It was eaten by Edward Newgate, but upon his
      death, its power was stolen by Marshall D. Teach. This fruit is fearsomely
      reputed to be able to destroy the world, and is considered to be the
      strongest Devil Fruit within the Paramecia class, having powers no weaker
      than those of a Logia Devil Fruit.
    </p>
  </div>
</div>
